<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msisuzney.minisoccer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity
            android:name=".SplashActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".view.activities.NewsDetailActivity"
            android:configChanges="screenSize|orientation"></activity>
        <activity
            android:name=".view.activities.TeamDetailActivity"
            android:configChanges="screenSize|orientation"></activity>
        <activity
            android:name=".view.activities.PlayerDetailActivity"
            android:configChanges="screenSize|orientation"></activity>
        <activity
            android:name=".view.activities.CoachDetailActivity"
            android:configChanges="screenSize|orientation"></activity>
        <activity
            android:name=".view.activities.TwinsActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".view.activities.SpecialNewsActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".view.activities.SpecialNewsColumnActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".view.activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".view.activities.AboutActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".view.activities.ImageActivity"></activity>
    </application>

</manifest>